{% extends 'base.html.twig' %}

{% block title %}Tipo index{% endblock %}

{% block body %}
<a href="{{ path('app_home_page') }}"><button>Inicio</button></a>
    <h1>Tipo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td>{{ tipo.id }}</td>
                <td>{{ tipo.nombre }}</td>
                <td>
                    <a href="{{ path('app_tipo_show', {'id': tipo.id}) }}"><button>Mostrar</button></a>
                    <a href="{{ path('app_tipo_edit', {'id': tipo.id}) }}"><button>Editar</button></a>
                    <a href="{{ path('app_tipo_mascotas', {'id': tipo.id}) }}"><button>Cantidad</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tipo_new') }}"><button>Nuevo</button></a>
{% endblock %}
