{% extends 'base.html.twig' %}

{% block title %}Raza index{% endblock %}

{% block body %}
<a href="{{ path('app_home_page') }}"><button>Inicio</button></a>
    <h1>Raza index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tamanio</th>
                <th>Origen</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for raza in razas %}
            <tr>
                <td>{{ raza.id }}</td>
                <td>{{ raza.nombre }}</td>
                <td>{{ raza.tamanio }}</td>
                <td>{{ raza.origen }}</td>
                <td>{{ raza.descripcion ? raza.descripcion : 'Sin descripción' }}</td>
                <td>
                    <a href="{{ path('app_raza_show', {'id': raza.id}) }}"><button>Mostrar</button></a>
                    <a href="{{ path('app_raza_edit', {'id': raza.id}) }}"><button>Editar</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_raza_new') }}"><button>Nuevo</button></a>
{% endblock %}
