{% extends 'base.html.twig' %}

{% block title %}Mascota index{% endblock %}

{% block body %}
<a href="{{ path('app_home_page') }}"><button>Volver</button></a>
    <h1>Mascota index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Raza</th>
                <th>Propietario</th>
                <th>Fecha</th>
                <th>Fecha_nac</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mascotum in mascotas %}
            <tr>
                <td>{{ mascotum.id }}</td>
                <td>{{ mascotum.nombre }}</td>
                <td>{{ mascotum.tipo.getNombre() }}</td>
                <td>{{ mascotum.raza.getNombre() }}</td>
                <td>{{ mascotum.propietario.getNombre() }}</td>
                <td>{{ mascotum.fecha ? mascotum.fecha|date('d-m-Y') : '----' }}</td>
                <td>{{ mascotum.fechaNac ? mascotum.fechaNac|date('d-m-Y') : '----' }}</td>
                <td>
                    <a href="{{ path('app_mascota_show', {'id': mascotum.id}) }}">show</a>
                    <a href="{{ path('app_mascota_edit', {'id': mascotum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mascota_new') }}">Create new</a>
{% endblock %}
