{% extends 'base.html.twig' %}

{% block title %}Tratamiento index{% endblock %}

{% block body %}
<a href="{{ path('app_home_page') }}"><button>Volver</button></a>
    <h1>Tratamiento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Duracion</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tratamiento in tratamientos %}
            <tr>
                <td>{{ tratamiento.id }}</td>
                <td>{{ tratamiento.nombre }}</td>
                <td>{{ tratamiento.duracion }}</td>
                <td>{{ tratamiento.descripcion ? tratamiento.descripcion : "Sin descripción" }}</td>
                <td>
                    <a href="{{ path('app_tratamiento_show', {'id': tratamiento.id}) }}"><button>Mostrar</button></a>
                    <a href="{{ path('app_tratamiento_edit', {'id': tratamiento.id}) }}"><button>Editar</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tratamiento_new') }}"><button>Nuevo</button></a>
{% endblock %}
