{% extends 'base.html.twig' %}

{% block title %}Propietario index{% endblock %}

{% block body %}
<a href="{{ path('app_home_page') }}"><button>Inicio</button></a>
    <h1>Propietario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for propietario in propietarios %}
            <tr>
                <td>{{ propietario.id }}</td>
                <td>{{ propietario.nombre }}</td>
                <td>{{ propietario.direccion }}</td>
                <td>{{ propietario.telefono }}</td>
                <td>
                    <a href="{{ path('app_propietario_show', {'id': propietario.id}) }}"><button>Mostrar</button></a>
                    <a href="{{ path('app_propietario_edit', {'id': propietario.id}) }}"><button>Editar</button></a>
                    <a href="{{ path('app_propietario_mascotas', {'id': propietario.id}) }}"><button>Mascotas</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_propietario_new') }}"><button>Crear Nuevo</button></a>
{% endblock %}
