{% extends 'base.html.twig' %}

{% block title %}Hello ConsultasController!{% endblock %}

{% block body %}


<div class="example-wrapper">
<a href="{{ path('app_home_page') }}"><button>Volver</button></a>
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>Mascotas Agrupadas por Propietario</h2>

   {% for mascotaPropietario in mascotass %}
        <h3>{{ mascotaPropietario.propietario.nombre }}</h3>
        <ul>
            {% for mascota in mascotaPropietario.propietario.mascotas %}
                <li>{{ mascota.nombre }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h2>Mascotas por Tipo</h2>

{% for resultado in resultados %}
    <h3>{{ resultado.tipo.nombre }}</h3>
    <ul>
        {% for mascota in resultado.tipo.mascotas %}
            <li>{{ mascota.nombre }}</li>
        {% endfor %}
    </ul>
  {% endfor %}
    <h2>Mascotas Agrupadas por Raza</h2>

   {% for mascota in razas %}
    <h3>{{ mascota.raza.nombre }}</h3>
    <ul>
        {% for mascota in mascota.raza.mascotas %}
            <li>{{ mascota.nombre }}</li>
        {% endfor %}
    </ul>
  {% endfor %}

</div>
{% endblock %}
